<div class="monthly_fixtures">

    <h2>A nagyszerű Manchester United 2026/2027-es szezonja ⚽</h2>
    <br><br>
    <h3 class="title">Mérkőzések</h3>

    <div *ngFor="let month of matches">
        <p class="month">{{month.month}}</p>

        <div *ngFor="let match of month.games" class="match_box">

            <div class="date_competition">
                <span>{{match.date}}</span>
                <span> | </span>
                <span>{{match.competition}}</span>
            </div>

            <div class="match">

                <div class="team home">
                    <span>{{ match.home }}</span>
                    <img [src]="match.homeLogo" class="logo" [alt]="match.home">
                </div>

                <div class="result">
                    {{ match.result }}
                </div>

                <div class="team away">
                    <img [src]="match.awayLogo" class="logo" [alt]="match.away">
                    <span>{{ match.away }}</span>
                </div>
            </div>
        </div>
    </div>
</div>