<p *ngIf="loading()">Meccsek betöltése...</p>
<div *ngFor="let month of groupedMatches(); let i = index" class="monthly_fixtures">
    <p class="month">{{month.month}}</p>

    <div *ngFor="let match of month.games" class="match_box">

        <div class="date_competition">
            <span>{{ match.date | date: 'MMM. d., EEEE' : '' : 'hu'}}</span>
            <span> | </span>
            <span>{{ match.competition }}</span>
        </div>

        <div class="match">

            <div class="team home">
                <span>{{ match.home ? 'Man Utd' : match.opponent }}</span>

                @if (!match.home) {
                <img [src]="teamLogos[match.opponent]" class="logo" [alt]="match.opponent">
                }

                @if (match.home) {
                <img [src]="teamLogos['Man Utd']" class="logo" alt="Man Utd">
                }

            </div>

            <div class="result">
                <span>{{ match.status === 'played' && match.home
                    ? match.manUtdScore + ':' + match.opponentScore
                    : match.status === 'played' && !match.home
                    ? match.opponentScore + ':' + match.manUtdScore :
                    'Hamarosan' }}</span>
            </div>

            <div class="team away">
                @if (match.home) {
                <img [src]="teamLogos[match.opponent]" class="logo" [alt]="match.opponent">
                }
                @if (!match.home) {
                <img [src]="teamLogos['Man Utd']" class="logo" alt="Man Utd">
                }

                <span>{{ match.home ? match.opponent : 'Man Utd' }}</span>


            </div>
        </div>

    </div>

</div>